<div id="description">
  <label>Hello, I'm Hernán, known as: <span id="me">The Lazy Responsible Programmer</span> </label>
  <label>I'm a studient in a University called Universidad Tarapacá in Arica, Chile. Studying the career of Informatics and Computing Civil Engineering</label>
  <label> this website still WIP but I'll try to improve it (if I can).</label>
</div><br>

<div id="fave">
  <label>Favorite Programming Language:
  </label>
  <ul>
    <li><label id="p">Python</label></li>
    <li><label id="j">Java</label></li>
  </ul>
  <br>


</div>

<div id="fave">
  <label> Favorite Games:
    <ul>
      <li><label id="ACNH">Animal Crossing: New Horizons</label></li>
      <li><label id="PKMV">Pokemón Violet</label></li>
      <li><label id="PUYO">Puyo Puyo <span id="TETRIS">Tetris</span> <span id="TWO"> 2</span></label></li>
      <li><label id="PKMSH">Pokemón Shield</label></li>
      <li><label id="CTTT">Captain Toad: Treasure Tracker</label></li>
    </ul><br>
  </label>
</div>