#description {
    margin-left: 12.5%;
    font-weight:bold;
    font-size: 200%;
    color: #7c6745;

}

#fave {
    margin-left: 12.5%;
    font-weight:bold;
    font-size: 200%;
    color: #7c6745;
    
}

#p {
    font-weight:bold;
    color:deepskyblue;
    
}

#j {
    font-weight:bold;
    color: red;
    
}

#me {
    color: gold;;
}

#CTTT{
    color: goldenrod;
}

#ACNH {
    color: #0dc6b8;
}

#PKMSH {
    color:crimson;
}

#PKMV {
    color: blueviolet;
}

#PUYO {
    color: limegreen;
}

#TETRIS {
    color:royalblue;
}

#TWO {
    color: orangered;
}